<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/index.css"> -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/login.css"> -->
    <link rel="stylesheet" href="../public/stylesheets/user.css">

</head>

<body>
    <div class="page-wrapper">
        <div class="page-header">
            <a class="header-logo-container" href="https://www.mercedes-benz.com.cn/homepage.html">
                <img class="header-logo" src="../public/images/header.png">
            </a>
            <div class="header-right">
                <div class="header-right-username">林夕</div>
                <div class="header-right-logout">退出</div>
            </div>
        </div>

        <div class="page-body">
            <!-- {% block content %} -->

            <!-- <div class="page-body-title">
                <div class="pbt-header">预约试驾</div>
                <div class="pbt-ft">欢迎在线预约试驾。</div>
            </div>
            <div class="page-body-content">
                <input class="pbc-input" type="text" name="familyName" placeholder="请输入您的姓氏" maxlength="20"
                    minlength="1" data-error="请输入正确的姓名（汉字或字母）" data-limit-error="请输入20位以下的姓名" value="">
                <input class="pbc-input" type="text" maxlength="11" name="mobilePhone" placeholder="请输入您的手机号"
                    data-error="请输入中国大陆手机号码（11位数字）" value="">
                <button class="pbc-button" type="submit" name="submit">
                    即刻预约
                </button>
            </div> -->

            <!-- <div class="page-body-content">
                <div class="pbc-title">
                    MERCEDES-BENZ
                </div>
                <input class="pbc-input" type="text" maxlength="11" name="mobilePhone" placeholder="请输入您的手机号"
                    data-error="请输入中国大陆手机号码（11位数字）" value="">
                <input class="pbc-input" type="text" name="password" placeholder="请输入您的密码" data-error="请输入正确的密码（不能为空）" value="">
                <button class="pbc-button" type="submit" name="submit">
                    现在登陆
                </button>
            </div> -->

            <!-- {% endblock %} -->
        </div>

        <div class="page-footer">
            <div class="footer-links">
                <ul class="footer-links-container container-group1">
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/privacy-policy.html"
                            class="link"><span>隐私条款</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/User-Agreement.html"
                            class="link"><span>用户协议</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/complaint-hotline.html"
                            class="link"><span>投诉电话</span></a></li>
                    <li class="footer-links-item fli-group1"><a href="https://www.mercedes-benz.com.cn/site-map.html"
                            class="link"><span>网站地图</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/legal-notices.html"
                            class="link"><span>法律声明</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/environmental-protection-information.html"
                            class="link"><span>环保信息查询</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/supplier-information.html"
                            class="link"><span>供应商信息</span></a></li>
                    <li class="footer-links-item fli-group1"><a href="https://www.denza.com/"
                            class="link"><span>腾势官网</span></a></li>
                </ul>
                <ul class="footer-links-container container-group2">
                    <li class="footer-links-item"><a href="https://www.mercedes-benz.com.cn/business-license.html"
                            class="link"><span>©梅赛德斯-奔驰版权所有</span></a></li>
                    <li class="footer-links-item"><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"
                            class="link"><span>京ICP备09046804号-2</span></a></li>
                    <li class="footer-links-item"><a
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502035702"
                            target="_blank" class="link"><span>京公网安备 11010502035702号 </span></a></li>
                </ul>
            </div>

            <div class="footer-social">
                <ul class="footer-social-container">
                    <li class="footer-social-item">
                        <img src="images/footer-logo/bc-logo.png" class="fsi-image">
                        <span class="fsi-label">官方在线展厅</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/bc-logo.png" class="fsi-image">
                        <span class="fsi-label">官方应用</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/weixin.png" class="fsi-image">
                        <span class="fsi-label">官方微信</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/tianmao.png" class="fsi-image">
                        <span class="fsi-label">天猫官方旗舰店</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/weibo.png" class="fsi-image">
                        <span class="fsi-label">微博</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/douyin.png" class="fsi-image">
                        <span class="fsi-label">抖音</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    {% block js %}
    {% endblock %}
</body>

</html>