<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/index.css"> -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/user.css"> -->
    <link rel="stylesheet" href="../public/stylesheets/user.css">

</head>

<body>
    <div class="page-wrapper">
        <div class="page-header">
            <a class="header-logo-container" href="https://www.mercedes-benz.com.cn/homepage.html">
                <img class="header-logo" src="../public/images/header.png">
            </a>
            <div class="header-right">
                <div class="header-right-username">林夕</div>
                <div class="header-right-logout">退出</div>
            </div>
            <div class="page-nav-item right-control">
                权限管理
                <span class='iconfont icon-xiangshangjiantou'></span>
            </div>
            <div class=""></div>
            <a class="page-nav-item user-control" href="/admin/user">用户管理</a>
            <a class="page-nav-item role-control" href="/admin/role">角色管理</a>
        </div>

        <div class="page-body">
            <div class="wrapper">
                <header class="page-header">林熙</header>
                <div class="page-body">
                    <div class="page-aside">
                        <nav class="page-nav">
                            <ul>
                                <li>
                                    <a class="page-nav-item" href="/admin/user">人员管理</a>
                                </li>
                                <li>
                                    <a class="page-nav-item" href="/admin/clue">线索管理</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="page-content">
                        <div class="content-title">人员管理</div>
                        <div class="content-control">
                            <a href="/admin/user/create">新增人员 >></a>
                        </div>
                        <div class="content-table">
                            <table class="table-container">
                                <tr>
                                    <th>姓名</th>
                                    <th>电话</th>
                                    <th>角色</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                    </trs>
                                <tr>
                                    <td>周杰伦</td>
                                    <td>13511111111</td>
                                    <td>管理员</td>
                                    <td>2019-4-1</td>
                                    <td><a href="/admin/user/1/edit">编辑</a></td>
                                </tr>
                                <tr>
                                    <td>李易峰</td>
                                    <td>13522222222</td>
                                    <td>管理员</td>
                                    <td>2019-4-1</td>
                                    <td><a href="/admin/user/2/edit">编辑</a></td>
                                </tr>
                                <tr>
                                    <td>陈奕迅</td>
                                    <td>13533333333</td>
                                    <td>管理员</td>
                                    <td>2019-4-1</td>
                                    <td><a href="/admin/user/3/edit">编辑</a></td>
                                </tr>
                            </table>
        
                            <div class="table-pagination" id="table-pagination">
                                <div class="pagination-index" id="pagination-index" data-index="{{pageInfo.index}}" hidden></div>
                                <div class="pagination-item" id="pagination-item" data-index="1">1</div>
                                <div class="pagination-item" id="pagination-item" data-index="2">2</div>
                                <div class="pagination-item" id="pagination-item" data-index="3">3</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="page-footer">
            <div class="footer-links">
                <ul class="footer-links-container container-group1">
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/privacy-policy.html"
                            class="link"><span>隐私条款</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/User-Agreement.html"
                            class="link"><span>用户协议</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/complaint-hotline.html"
                            class="link"><span>投诉电话</span></a></li>
                    <li class="footer-links-item fli-group1"><a href="https://www.mercedes-benz.com.cn/site-map.html"
                            class="link"><span>网站地图</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/legal-notices.html"
                            class="link"><span>法律声明</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/environmental-protection-information.html"
                            class="link"><span>环保信息查询</span></a></li>
                    <li class="footer-links-item fli-group1"><a
                            href="https://www.mercedes-benz.com.cn/supplier-information.html"
                            class="link"><span>供应商信息</span></a></li>
                    <li class="footer-links-item fli-group1"><a href="https://www.denza.com/"
                            class="link"><span>腾势官网</span></a></li>
                </ul>
                <ul class="footer-links-container container-group2">
                    <li class="footer-links-item"><a href="https://www.mercedes-benz.com.cn/business-license.html"
                            class="link"><span>©梅赛德斯-奔驰版权所有</span></a></li>
                    <li class="footer-links-item"><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank"
                            class="link"><span>京ICP备09046804号-2</span></a></li>
                    <li class="footer-links-item"><a
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502035702"
                            target="_blank" class="link"><span>京公网安备 11010502035702号 </span></a></li>
                </ul>
            </div>

            <div class="footer-social">
                <ul class="footer-social-container">
                    <li class="footer-social-item">
                        <img src="images/footer-logo/bc-logo.png" class="fsi-image">
                        <span class="fsi-label">官方在线展厅</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/bc-logo.png" class="fsi-image">
                        <span class="fsi-label">官方应用</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/weixin.png" class="fsi-image">
                        <span class="fsi-label">官方微信</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/tianmao.png" class="fsi-image">
                        <span class="fsi-label">天猫官方旗舰店</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/weibo.png" class="fsi-image">
                        <span class="fsi-label">微博</span>
                    </li>
                    <li class="footer-social-item">
                        <img src="images/footer-logo/douyin.png" class="fsi-image">
                        <span class="fsi-label">抖音</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    {% block js %}
    {% endblock %}
</body>

</html>